﻿@model SE1616_Group1_A3.Models.Show

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Show</h4>
<hr />
<div class="row">
    <div class="col-md-4">
       
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RoomId" class="control-label"></label>
                <select id="room" asp-for="RoomId"  class="form-control"  asp-items="@(new SelectList(ViewBag.Room,"RoomId","Name"))" ></select>
                <span asp-validation-for="RoomId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="ShowDate" class="control-label"></label>
                <input id="dob" type="date" asp-for="ShowDate" class="form-control" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="ShowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FilmId" class="control-label"></label>
                <select id="film" asp-for="FilmId"  class="form-control"  asp-items="@(new SelectList(ViewBag.Film,"FilmId","Title"))" ></select>
                <span asp-validation-for="FilmId" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="Slot" class="control-label"></label>
               <select  asp-for="Slot"  class="form-control"  >                  
                    @{
                        List<int> list = new List<int>
                        {
                            1,2,3,4,5,6,7,8,9,10
                        };
                        foreach (var item in ViewBag.Slot as List<Show>)
                        {
                            string re = @item.Slot.ToString();
                            list.Remove(Convert.ToInt32(re));
                        }
                        foreach (var i in list)
                        {
                            <option value="@i">@i</option>
                        }
                                 
                            

                         
                    }
               </select>
                <span asp-validation-for="Slot" class="text-danger"></span>
            </div>
            
           
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input type="text" name="Price"  class="form-control"/>
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script type="text/javascript">

   $('#room').on('change', function () {
     var room = $("#room option:selected").val();
    var film = $("#film option:selected").val();
    var d = new Date();
    let month = (d.getMonth()+1);
    if(month < 10){
        month = "0"+month;
    }
    let day =d.getDate();
    if(day < 10){
        day = "0"+day;
    }
    var strDate = d.getFullYear() + "-" + month + "-" + day;
    window.location.href="/Shows/Create?dob="+strDate+"&&room="+ room+"&&film="+film;
    
});
$('#dob').on('change', function () {
    var room = $("#room option:selected").val();
    var film = $("#film option:selected").val();
    //alert("/Shows/Create?dob="+$(this).val()+"&&room="+ room+"&&film="+film);
     window.location.href="/Shows/Create?dob="+$(this).val()+"&&room="+ room+"&&film="+film;
});
$('#film').on('change', function () {
    var room = $("#room option:selected").val();
    var film = $("#film option:selected").val();
    var d = new Date();
    let month = (d.getMonth()+1);
    if(month < 10){
        month = "0"+month;
    }
    let day =d.getDate();
    if(day < 10){
        day = "0"+day;
    }
    var strDate = d.getFullYear() + "-" + month + "-" + day;
     window.location.href="/Shows/Create?dob="+strDate+"&&room="+ room+"&&film="+film;
});
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
