﻿@model SE1616_Group1_A3.Models.Show

@{
    ViewData["Title"] = "Index";

}
@using SE1616_Group1_A3.Models
@using Microsoft.AspNetCore.Http
@using SE1616_Group1_A3.Code


<h1>Show</h1>
<form asp-controller="Shows" asp-action="Index">
    <div class="col-md-4">
<label >Film:</label>
<select asp-for="FilmId" class="form-control"  asp-items="@(new SelectList(ViewBag.Film,"FilmId","Title"))"></select>
    </div>
    <div class="col-md-4">
        <label >Date:</label>
<input asp-for="ShowDate" class="form-control"  type="date" value="@DateTime.Now.ToString("yyyy-MM-dd")"/>
    </div>
 <div class="col-md-4">
     <label >Room:</label>
<select asp-for="RoomId" class="form-control"   asp-items="@(new SelectList(ViewBag.Room,"RoomId","Name"))"></select>
<input type="submit" value="Search" class="btn btn-primary"/>
 </div>

</form>
@{
        Login login = SessionHelper.GetObjectFromJson<Login>(Context.Session, "User");
    }

<p>
    <a style="@(login==null?"display:none;":"")" asp-action="Create">Create New</a>
</p>
@{
    int count = (ViewBag.Show as List<Show>).Count;
}
<h2>The number of shows: @count</h2>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FilmId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShowDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Slot)
            </th>
            <th >
                Booking
            </th>
            <th style=@(login==null?"display:none;":"")>
                Edit
            </th>
            <th style=@(login==null?"display:none;":"")>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in ViewBag.Show as List<Show>) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FilmId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShowDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Slot)
            </td>
           
            <td>              
                <a  href="/Bookings/Index/@item.ShowId">Booking</a> 
            </td>
             <td style=@(login==null?"display:none;":"")>
                <a asp-action="Edit" asp-route-id="@item.ShowId">Edit</a>         
            </td>
            <td style=@(login==null?"display:none;":"")>
                <a asp-action="Delete" asp-route-id="@item.ShowId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
