﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
@using SE1616_Group1_A3.Code
@using SE1616_Group1_A3.Models
@model Login
<div class="text-center">
   
    <form asp-controller="Shows" asp-action="Index" method="post">
        

             <div class="form-outline col-md-4">
                  

                <input type="text" placeholder="UserName" id="UserName" asp-for="UserName"  class="form-control"/>
                <span asp-validation-for="UserName" class="text-danger"></span>              
            
                <input type="password" placeholder="Password" asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
                <p class="text-danger">@TempData["message"]</p>
                 <input type="submit" value="Login" class="btn btn-primary"/>
                <a href="/Home/Index" class="btn btn-danger">Cancel</a>

             </div>



       
      
    </form>
</div>
