﻿@model SE1616_Group1_A3.Models.Booking
@{
    ViewData["Title"] = "Details";
}
@{
    int index = -1;
}
<h1>Details</h1>

<div>
    <h4>Booking</h4>

    @for (var i = 0; i < 10; i++)
{
    @for (var j = 0; j < 10; j++)
    {

        index = i * 10 + j;
        char isBooked = (Model.SeatStatus)[index];
        <input disabled="disabled" type="checkbox" @(isBooked == '1' ? "checked" : "") />
    }
    <br />
}

    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Amount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Amount)
        </dd>
   
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.BookingId">Edit</a> |
    <a asp-action="Index" asp-route-id="@Model.ShowId">Back to List</a>
</div>
